/* line 13, ../../app/styles/main.sass */
body {
  text-align: center;
  color: #292929;
  background: -webkit-radial-gradient(center, circle closest-corner, white 0%, #e66d1a 100%);
  background: -moz-radial-gradient(center, circle closest-corner, white 0%, #e66d1a 100%);
  background: radial-gradient(center, circle closest-corner, #ffffff 0%, #e66d1a 100%);
}

/* line 22, ../../app/styles/main.sass */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 1, ../../app/styles/slides.sass */
.slides {
  display: table;
  height: 100%;
  width: 100%;
}